* {
    box-sizing: border-box;
    width: 600px;
    margin: 0px auto;
    background-color: rgb(184, 239, 184);
    font-family: Verdana, Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

img {
    width: 300px;
    height: auto;
    display: flex;
    padding: 20px;
}

p {
    margin: 10px auto;
    padding: 10px;
    border-bottom: double 12px;
}

.navbar .navlist {
    border-bottom-style: groove;
    justify-content: center;
    display: inline;
    width: 150px;
    text-align: center;
    margin: 5px 25px;
    padding: 6px;
    font-size: 13px;
}

a {
    color: black;
    background-color: rgba(163, 219, 163, 0.711);
    font-weight: bold;
    padding: 4px 0px;
}

a:hover {
    color: white;
    background-color: rgba(163, 219, 163, 0.517);
}

a:link {
    text-decoration: none;
}

.container {
    
}