* {
    box-sizing: border-box;
    background-color: rgb(184, 239, 184);
    font-family: Verdana, Arial, sans-serif;
}

h1 {
    border: 6px;
    border-bottom-style: ridge;
    border-radius: 25px;
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
    width: 500px;
    margin: 10px auto;
    display: flex;
}

li {
    text-align: center;
    width: 200px;
    padding: 15px;
    margin-left: -20px;
    margin: 10px 0;
    display: flex;
    background-color: rgba(163, 219, 163, 0.711);
    border-radius: 25px;
}

.container {
    border: solid 5px;
    border-color: antiquewhite;
    border-radius: 25px;
    width: 500px;
    margin: 0 auto;
}

a {
    color: black;
    font-weight: bold;
    padding: 4px 0px;
    border-radius: 25px;
}

a:hover {
    color: white;
    background-color: rgba(163, 219, 163, 0.517);
}

a:link {
    text-decoration: none;
}

