* {
    box-sizing: border-box;
    background-color: rgb(184, 239, 184);
}

h1 {
    border: 6px;
    border-bottom-style: ridge;
    border-radius: 8px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    padding: 2px;
    width: 500px;
    margin: 10px auto;
    display: flex;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 200px;
    padding: 4px;
    margin-left: -20px;
    margin: 10px 0;
    display: flex;
    background-color: rgba(163, 219, 163, 0.711);

}

.container {
    border: solid 10px;
    border-color: rgba(255, 226, 189, 0.969);
    border-radius: 12px;
    width: 500px;
    margin: 0 auto;
}

a {
    color: black;
    font-weight: bold;
    padding: 4px 0px;
    background-color: rgba(163, 219, 163, 0.711);

}

a:hover {
    color: white;
    background-color: rgba(163, 219, 163, 0.517);
}

a:link {
    text-decoration: none;
}

