* {
    box-sizing: border-box;
    width: 600px;
    margin: 0 auto;
}

h1 {
    border: 12px;
    border-style: ridge;
    border-radius: 12px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    padding: 2px;
    margin-left: 50px;
    margin-right: 50px;
    width: fit-content;
    display: flex;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 6px;
    border-style: ridge;
    border-radius: 12px;
    border-spacing: 5px 1rem;
    text-indent: 4px;
    line-height: 24px 1rem;
    margin: 12px;
    padding: 4px;
    width: 200px;
    display: inline-flex;
}




